@font-face {
	font-family: 'icomoon';
	src:  url('fonts/icomoon.eot?2v8zhb');
	src:  url('fonts/icomoon.eot?2v8zhb#iefix') format('embedded-opentype'),
	  url('fonts/icomoon.ttf?2v8zhb') format('truetype'),
	  url('fonts/icomoon.woff?2v8zhb') format('woff'),
	  url('fonts/icomoon.svg?2v8zhb#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
  }
  
  [class^="icon-"], [class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
  
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  }
  
  .icon-press:before {
	content: "\e906";
  }
  .icon-arrow:before {
	content: "\e907";
  }
  .icon-info:before {
	content: "\e900";
  }
  .icon-time:before {
	content: "\e901";
  }
  .icon-mail:before {
	content: "\e902";
  }
  .icon-instagram:before {
	content: "\e903";
  }
  .icon-facebook:before {
	content: "\e904";
  }
  .icon-phone:before {
	content: "\e905";
  }
  